DWHSync/Service References/RateChangeService/RateChangeServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RateChangeOperations.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RateChangeOperations.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/RateChangeService/RateChangeServices.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfCommitments">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Commitments" nillable="true" type="tns:Commitments" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommitments" nillable="true" type="tns:ArrayOfCommitments" />
  <xs:complexType name="Commitments">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccepteRateChangeAmount" type="xs:long" />
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="BoosterOptInDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChildpreferredName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConstituentRecordId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Frequency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HideAcceptRateAndBoosterOptions" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IsPayerOnDonationBreak" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MatchType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NeedKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RateChangeAction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RateChangeDateFirstInstallment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RateChangeDateFirstInstallment_IncreaseNow" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RateChangedAttrExist" type="xs:boolean" />
      <xs:element minOccurs="0" name="RevenueId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SponsorshipAct" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SponsorshipId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupporterBBID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupporterGroupBBID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupporterGroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupporterGroupType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupporterId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Commitments" nillable="true" type="tns:Commitments" />
  <xs:complexType name="RateChange">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ExistingRgAmounts" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Frequencies" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="assignedAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="constituentRecordId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="donationAmount" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="increaseByAmounts" nillable="true" type="q3:ArrayOfstring" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="needkeys" nillable="true" type="q4:ArrayOfstring" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="nextInstallmentDates" nillable="true" type="q5:ArrayOfstring" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="otherDonationAmounts" nillable="true" type="q6:ArrayOfstring" />
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paymentDays" nillable="true" type="q7:ArrayOfstring" />
      <xs:element minOccurs="0" name="processType" nillable="true" type="xs:string" />
      <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="rateChangeActions" nillable="true" type="q8:ArrayOfstring" />
      <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="revenueIds" nillable="true" type="q9:ArrayOfstring" />
      <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="selectedRateChangeActions" nillable="true" type="q10:ArrayOfstring" />
      <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="selectedRateChangeFirstInstallmentDates" nillable="true" type="q11:ArrayOfstring" />
      <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sponsorshipDates" nillable="true" type="q12:ArrayOfstring" />
      <xs:element minOccurs="0" name="supporterId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RateChange" nillable="true" type="tns:RateChange" />
  <xs:complexType name="ArrayOfRateChangeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RateChangeResponse" nillable="true" type="tns:RateChangeResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRateChangeResponse" nillable="true" type="tns:ArrayOfRateChangeResponse" />
  <xs:complexType name="RateChangeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="IncidentId" type="xs:long" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NeedKeys" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="responseThreadText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RateChangeResponse" nillable="true" type="tns:RateChangeResponse" />
  <xs:complexType name="RateChangeRequestWebsite">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsBoosterFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="SupporterId" type="xs:long" />
      <xs:element minOccurs="0" name="donationAmount" type="xs:int" />
      <xs:element minOccurs="0" name="processType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RateChangeRequestWebsite" nillable="true" type="tns:RateChangeRequestWebsite" />
</xs:schema>